@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* Made by Hamdan Khan*/
*{
    margin: 0;
    padding: 0;
    font-family:'JetBrains Mono', 'Roboto';
    scroll-behavior: smooth ;
}
*::selection{
    background-color: #CCC5B9;
}
* p::selection{
    color: black;
}
* h1::selection{
    color: black;
}
* h2::selection{
    color: black;
}
* h3::selection{
    color: black;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.93);
    height: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style-type: none;
    padding: 2.5vh;
}
nav ul li a{
    position: relative;
    display: inline-block;
    color: #CCC5B9;
    text-decoration: none;
    font-size: 2vh;
    margin-right: 6vh;
    font-weight: 800;
}
li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #EB5E28;
    transition: all 0.8s ease;
}
li a:hover::before{
    width: 100%;
}
.logo h1{
    color: #EB5E28;
    font-size: 3vh;
    position: relative;
}
.logo{
    padding: 20px;
    margin-left: 3vh;
}
.logo h1::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #EB5E28;
    transition: all 0.8s ease;
}
.logo h1:hover::before{
    width: 100%;
}
.logo h1:hover{
    cursor: pointer;
}
.logo span{
    color: white;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: black;
}
.para-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4vh;
    min-height: 100%;
    max-width: 50%;
    text-align: center;
}
.para-intro h1{
    color: white;
    font-size: 7vh;
    margin-left: 10px;
}
.para-intro span{
    color: #EB5E28;
}
.para-intro p{
    margin-top: 2vh;
    margin-left: 10px;
    color: white;
    font-size: 2vh;
    display: inline-block;
    text-align: center;
}
.para-intro h2{
    color: white;
}
#int{
    max-width: 70%;
}
.para-intro{
    min-height: 100%;
}
#intro{
    display: flex;
    max-width: 50%;
    min-width: fit-content;
    padding: 6vh;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.scl-icons{
    margin-top: 25px;
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
}
#twitter, #github, #linkedin{
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.8s ease;
}
.icons-cont p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vh;
}
.location, .loc-name{
    display: inline-block;
}
.loc-name{
    margin-left: 100px;
}
#location{
    cursor: pointer;
    transition: all 0.8s ease;
}
#learn-more{
    color: white;
    background-color: #EB5E28;
    border: none;
    padding: 20px;
    border-radius: 20px;
    margin-top: 2vh;
    margin-bottom: 20px;
    align-self: center;
}
.icons-cont{
    display: flex;
    flex-direction: column;
}
#learn-more:hover{
    cursor: pointer;
    transition: 0.8s;
    background-color: #eb5f28be;
}
#linkedin:hover{
    filter: grayscale(30%) brightness(60%);
}
#github:hover{
    filter: grayscale(30%) brightness(60%);
}
#twitter:hover{
    filter: grayscale(30%) brightness(60%);
}
#location:hover{
    filter: grayscale(30%) brightness(60%);
}
#hk-img{
    display: inline-block;
    clip-path: circle(50%);
    overflow: hidden;
}
#skills{
    height: 100%;
    background-color: black;
    padding: 6vh;
    padding-bottom: 0;
}
.sk-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sk-title h2{
    color: white;
    padding: 1.5vh;
    font-size: 3vh;
    margin: 5vh;
    text-decoration: underline;
    text-decoration-color: #EB5E28;
    text-decoration-thickness: 0.8vh;
}
.skills-wrapper{
    padding: 15vh;
    height: 70vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.html{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
}
.html p{
    color: white;
    max-width: 50%;
}
.html h3{
    display: flex;
    color: white;
    align-items: center;
    font-size: 3vh;
    text-decoration: underline;
    text-decoration-color: #EB5E28;
    text-decoration-thickness: 0.5vh;
}
.css{
    display: flex;
    align-items: center;
    padding: 2vh;
    justify-content: space-between;
}
.css h3{
    color: white;
    display: flex;
    text-decoration: underline;
    font-size: 3vh;
    text-decoration-color: #EB5E28;
    text-decoration-thickness: 0.5vh;
    align-items: center;
    justify-content: center;
}
.css p{
    color: white;
    max-width: 50%;
}
.javas{
    display: flex;
    align-items: center;
    padding: 2vh;
    justify-content: space-between;
}
.javas h3{
    display: flex;
    color: white;
    font-size: 3vh;
    text-decoration: underline;
    text-decoration-color: #EB5E28;
    text-decoration-thickness: 0.5vh;
    align-items: center;
    justify-content: space-between ;
}
.javas p{
    color: white;
    max-width: 50%;
}
footer{
    background-color: black;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h1{
    color: white;
}
footer span{
    color: #EB5E28;
}
#projects{
    height: fit-content;
    width: 100%;
    background-color: black;
}
.pro-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pro-title h2{
    color: white;
    padding: 1.5vh;
    font-size: 3vh;
    margin: 5vh;
    text-decoration: underline;
    text-decoration-color: #EB5E28;
    text-decoration-thickness: 0.8vh;
}
.projects-wrapper{
    text-align: center;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.project{
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8vh;
    width: 100%;
}
.project h3{
    padding-top: 7vh;
    color: white;
    font-size: 3vh;
}
.project p{
    color: white;
    font-size: 2vh;
    max-width: 50%;
    padding-top: 1vh;
}
.project a{
    text-decoration: none;
    color: white;
    background-color: #EB5E28;
    padding: 2vh;
    border-radius: 1vh;
    margin-top: 3vh;
    transition: all 0.8s;
}
#p2{
    max-width: 50%;
}
.icon-cont p img{
    cursor: pointer ;
}
.project a:hover{
    filter: grayscale(30%) brightness(60%);
}